<main>
  <section class="hero">
    <div class="container hero-container">
      <div class="container-add">
        <h1 class="hero-title">Work at the speed of thought</h1>
        <p class="hero-text">
          Tools, tutorials, design and innovation experts, all in one place! The
          most intuitive way to imagine your next user experience.
        </p>
        <ul class="hero-list">
          <li class="hero-item">
            <button type="button" class="btn-hero">Get started</button>
          </li>
          <li class="hero-item">
            <button type="button" class="btn-hero-second">
              <span class="triangle">
                <svg class="triangle-icon" width="16" height="18">
                  <use href="../img/icons.svg#icon-triangle"></use>
                </svg>
              </span>
              Watch the Video
            </button>
          </li>
        </ul>
      </div>
      <img src="/img/hero/hero-img.png" alt="peoples" />
    </div>
  </section>
</main>
