<section class="management">
  <div class="container management-container">
    <div class="management-subcontainer">
      <h2 class="management-title">
        <span class="span">Effortless Validation for</span>
        Management
      </h2>
      <p class="management-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li class="management-item">
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-subtext">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="management-item">
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-subtext">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img src="./images/management-img.png" alt="management" />
  </div>
</section>
