<section class="specifically">
  <div class="container specifically-container">
    <h2 class="specifically-title">Product was Built Specifically for You</h2>
    <ul class="specifically-list">
      <li class="specifically-item">
        <div class="icon-container grenn-wrap">
          <svg class="item-icon" width="11" height="18">
            <use href="../img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="specifically-subtitle">First click tests</h3>
        <p class="specifically-subtext">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="specifically-item">
        <div class="icon-container blue-wrap">
          <svg class="item-icon" width="18" height="18">
            <use href="../img/icons.svg#icon-wave"></use>
          </svg>
        </div>
        <h3 class="specifically-subtitle">Design surveys</h3>
        <p class="specifically-subtext">
          Sports betting, lottery and bingo playing for the funFive second tests
        </p>
      </li>
      <li class="specifically-item">
        <div class="icon-container violet-wrap">
          <svg class="item-icon" width="16" height="18">
            <use href="../img/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <h3 class="specifically-subtitle">Preference tests</h3>
        <p class="specifically-subtext">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="specifically-item">
        <div class="icon-container tomato-wrap">
          <svg class="item-icon" width="14" height="18">
            <use href="../img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="specifically-subtitle">Five second tests</h3>
        <p class="specifically-subtext">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="specifically-btn">SIGN UP NOW</button>
  </div>
</section>
