.management {}

.management-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
  gap: 84px;
}

.management-subcontainer {
  padding: 41px 0;
  max-width: 486px;
}

.management-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 30px;
}

.management-list {
  display: flex;
  flex-direction: column;
}

.management-item {}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 12px;
}

.management-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 25px;
}